---
layout: default
---

<link rel="stylesheet" href="/js/prettify/prettify.css" />
<style type="text/css">
    body { background:#e8e8e8; }
    @media screen and (max-width: 750px){
        body { background:#fff; }
    }
    @media screen and (max-width: 1020px){
        body { background:#fff; }
    }
</style>

<div id="content">
    <div class="entry">
        <h1 class="entry-title"><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h1>
        <p class="entry-date">{{ page.date|date:"%Y-%m-%d" }}</p>
        {{ content }}
        <!--<form id="clForm" data-cl-attached="true" data-cl-id="8c15e5ea915540f29e8bf7361f6ede05" action="http://host.convertlab.com/page/8c15e5ea915540f29e8bf7361f6ede05" method="POST"></form>-->
        
        
        <script>
	(function(e,b,c){function a(h){var g=h+"=";var f=document.cookie.split(";");for(var j=0;j<f.length;j++)
	{var k=f[j];while(k.charAt(0)==" "){k=k.substring(1)}if(k.indexOf(g)==0){return k.substring(g.length,k.length)}}return""}var d=a("c__utma");
	if(d){document.write('<img id="12345" src="'+e+"?uuid="+b+"&tid="+c+"&utma="+d+'" width="100%"/>')}})
	("http://host.convertlab.com/qrcode/binding","3e0ca61c748f48ba9a633fe38b902640","1492027403");
	</script>
    </div>

    <div class="sidenav">
        <iframe width="100%" height="75" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=75&fansRow=2&ptype=1&speed=0&skin=5&isTitle=0&noborder=0&isWeibo=0&isFans=0&uid=1855270953&verifier=375b89d6&dpc=1"></iframe>
    </div>

    <div class="sidenav">
        <h2>Blog</h2>
        <ul class="artical-list">
        {% for post in site.categories.blog%}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>

        <h2>Opinion</h2>
        <ul class="artical-list">
        {% for post in site.categories.opinion%}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>

        <h2>Project</h2>
        <ul class="artical-list">
        {% for post in site.categories.project%}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
    </div>
    <div class="sidenav">
    	<script>
(function(e,b,c){function a(h){var g=h+"=";var f=document.cookie.split(";");for(var j=0;j<f.length;j++)
{var k=f[j];while(k.charAt(0)==" "){k=k.substring(1)}if(k.indexOf(g)==0){return k.substring(g.length,k.length)}}return""}var d=a("c__utma");
if(d){document.write('<img id="12345" src="'+e+"?uuid="+b+"&tid="+c+"&utma="+d+'" width="100%"/>')}})
("http://host.convertlab.com/qrcode/binding","3e0ca61c748f48ba9a633fe38b902640","1492027403");
</script>
    </div>
</div>

<script src="/js/post.js" type="text/javascript"></script>


<script type="text/javascript" src="http://host.convertlab.com/js/forms/form.js"></script>
<script>
	_clForm.loadForm("http://host.convertlab.com", "8c15e5ea915540f29e8bf7361f6ede05",{
		formInit: function(){},
		beforeSubmit: function(){},
		onSubmit: function(args){}
	});
</script>
